<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>CR</string>
    <string>space</string>
    <string>uni16A0</string>
    <string>uni16A1</string>
    <string>uni16A4</string>
    <string>uni16A6</string>
    <string>uni16AC</string>
    <string>uni16AD</string>
    <string>uni16B1</string>
    <string>uni16B4</string>
    <string>uni16B5</string>
    <string>uni16BE</string>
    <string>uni16BF</string>
    <string>uni16C1</string>
    <string>uni16C2</string>
    <string>uni16C5</string>
    <string>uni16C6</string>
    <string>uni16CB</string>
    <string>uni16CC</string>
    <string>uni16CF</string>
    <string>uni16D0</string>
    <string>uni16D2</string>
    <string>uni16D8</string>
    <string>uni16DA</string>
    <string>uni16E6</string>
    <string>uni16E7</string>
    <string>uni16D4</string>
    <string>uni16A2</string>
    <string>uni16A7</string>
    <string>uni16D1</string>
    <string>uni16A5</string>
    <string>uni16AE</string>
    <string>uni16AF</string>
    <string>uni16B0</string>
    <string>uni16D3</string>
    <string>uni16C0</string>
    <string>uni16A8</string>
    <string>uni16AB</string>
    <string>uni16B6</string>
    <string>uni16CD</string>
    <string>uni16CE</string>
    <string>uni16E8</string>
    <string>uni16EE</string>
    <string>uni16EF</string>
    <string>uni16F0</string>
    <string>uni16DB</string>
    <string>uni16A9</string>
    <string>uni16AA</string>
    <string>uni16B2</string>
    <string>uni16B3</string>
    <string>uni16B7</string>
    <string>uni16B8</string>
    <string>uni16B9</string>
    <string>uni16BA</string>
    <string>uni16BB</string>
    <string>uni16C3</string>
    <string>uni16C4</string>
    <string>uni16C7</string>
    <string>uni16C8</string>
    <string>uni16C9</string>
    <string>uni16CA</string>
    <string>uni16D6</string>
    <string>uni16D7</string>
    <string>uni16D9</string>
    <string>uni16BD</string>
    <string>uni16DC</string>
    <string>uni16DD</string>
    <string>uni16DE</string>
    <string>uni16E0</string>
    <string>uni16E2</string>
    <string>uni16E3</string>
    <string>uni16E4</string>
    <string>uni16E5</string>
    <string>uni16E9</string>
    <string>uni16EA</string>
    <string>uni16EB</string>
    <string>uni16EC</string>
    <string>uni16BC</string>
    <string>uni16D5</string>
    <string>slash</string>
    <string>uni00A0</string>
    <string>uni16A3</string>
    <string>uni16DF</string>
    <string>uni16ED</string>
    <string>uni16A2.cv01</string>
    <string>uni16A0.cv01</string>
    <string>uni16A6.cv01</string>
    <string>uni16A3.cv01</string>
    <string>uni16A4.cv01</string>
    <string>uni16A5.cv01</string>
    <string>uni16A7.cv01</string>
    <string>uni16B4.cv01</string>
    <string>uni16B5.cv01</string>
    <string>uni16B6.cv01</string>
    <string>uni16A1.cv01</string>
    <string>uni16D8.cv01</string>
    <string>uni16E6.cv01</string>
    <string>uni16EF.cv01</string>
    <string>uni16D2.cv01</string>
    <string>uni16D4.cv01</string>
    <string>uni16D5.cv01</string>
    <string>uni16B1.cv01</string>
    <string>uni16F0.cv01</string>
    <string>f</string>
    <string>u</string>
    <string>thorn</string>
    <string>a</string>
    <string>r</string>
    <string>k</string>
    <string>g</string>
    <string>w</string>
    <string>n</string>
    <string>i</string>
    <string>j</string>
    <string>p</string>
    <string>z</string>
    <string>s</string>
    <string>t</string>
    <string>b</string>
    <string>e</string>
    <string>m</string>
    <string>l</string>
    <string>o</string>
    <string>d</string>
    <string>period</string>
    <string>colon</string>
    <string>bar</string>
    <string>uni16E1</string>
    <string>uni16F1</string>
    <string>uni16F2</string>
    <string>uni16F3</string>
    <string>uni16F4</string>
    <string>uni16F5</string>
    <string>uni16F6</string>
    <string>uni16F7</string>
    <string>uni16F8</string>
    <string>uni16B9.cv01</string>
    <string>uni16D7.cv01</string>
    <string>uni16DE.cv01</string>
    <string>uni16DF.cv01</string>
    <string>uni16A2.cv03</string>
    <string>uni16DC.cv99</string>
    <string>uni16C3.cv01</string>
    <string>uni16C3.cv02</string>
    <string>uni16C3.cv03</string>
    <string>uni16C3.cv04</string>
    <string>uni16C3.cv05</string>
    <string>uni16C3.cv06</string>
    <string>uni16C3.cv07</string>
    <string>uni16CA.cv02</string>
    <string>uni16CA.cv03</string>
    <string>uni16BA.cv10</string>
    <string>uni16B3.cv01</string>
    <string>uni16C7.cv10</string>
    <string>h</string>
    <string>uni16C9.cv01</string>
    <string>eth</string>
    <string>uni16BE.cv10</string>
    <string>underscore</string>
    <string>ellipsis</string>
    <string>bar.cv02</string>
    <string>a_z</string>
    <string>space.cv02</string>
    <string>uni16A6.cv02</string>
    <string>uni16BB.cv10</string>
    <string>uni16E3.cv01</string>
    <string>uni16E0.cv02</string>
    <string>uni16DC.cv01</string>
    <string>uni16EB.cv02</string>
    <string>period.cv02</string>
    <string>colon.cv02</string>
    <string>uni16B1.cv02</string>
    <string>uni16B1.cv03</string>
    <string>uni16A9.cv02</string>
    <string>uni16AA.cv02</string>
    <string>uni16C8.cv02</string>
    <string>uni16E2.cv02</string>
    <string>t_n</string>
    <string>l_t</string>
    <string>y</string>
    <string>uni16E9.cv01</string>
    <string>v</string>
    <string>c</string>
    <string>q</string>
    <string>x</string>
    <string>uni16A9.cv03</string>
    <string>uni16E5.cv02</string>
    <string>uni16B4.cv02</string>
    <string>uni16B4.cv03</string>
    <string>uni16B4.cv04</string>
    <string>uni16DC.cv02</string>
    <string>uni16B9.cv02</string>
    <string>uni16CA.cv05</string>
    <string>uni16CA.cv06</string>
    <string>uni16CB.cv02</string>
    <string>uni16CA.cv04</string>
    <string>uni16CA.cv07</string>
    <string>uni16CA.cv08</string>
    <string>uni16CF.cv02</string>
    <string>uni16D2.cv02</string>
    <string>uni16D2.cv03</string>
    <string>uni16A8.cv02</string>
    <string>uni16A2.cv02</string>
    <string>uni16D6.cv02</string>
    <string>uni16DC.cv03</string>
    <string>uni16DC.cv04</string>
    <string>uni16A3.cv02</string>
    <string>uni16DF.cv02</string>
    <string>uni16DF.cv03</string>
    <string>uni16C4.cv01</string>
    <string>uni16DE.cv02</string>
    <string>uni16DE.cv03</string>
    <string>uni16A3.cv03</string>
    <string>uni16A3.cv04</string>
    <string>uni0FD5</string>
    <string>uni0FD6</string>
    <string>ellipsis.cv02</string>
    <string>uni1F528</string>
    <string>uni16F7.cv01</string>
    <string>uni16F8.cv01</string>
    <string>f_a</string>
    <string>uni16A2.cv04</string>
    <string>uni16A2.cv05</string>
    <string>uni16CA.cv10</string>
    <string>uni16CA.cv01</string>
    <string>uni16CF.cv01</string>
    <string>ellipsis.cv01</string>
    <string>uni16C9.cv02</string>
    <string>uni16A3.cv05</string>
    <string>uni16C6.cv02</string>
    <string>uni16C6.cv04</string>
    <string>uni16C6.cv03</string>
    <string>uni16C5.cv09</string>
    <string>uni16C6.cv05</string>
    <string>uni16AC.cv09</string>
    <string>uni16AD.cv02</string>
    <string>uni16D2.cv09</string>
    <string>uni16D2.cv04</string>
    <string>uni16D2.cv05</string>
    <string>uni16CD.cv02</string>
    <string>uni16D1.cv02</string>
    <string>uni16D1.cv03</string>
    <string>uni16D1.cv04</string>
    <string>uni16D1.cv05</string>
    <string>uni16A7.cv02</string>
    <string>uni16A7.cv03</string>
    <string>uni16A0.cv02</string>
    <string>uni16A0.cv03</string>
    <string>uni16A0.cv10</string>
    <string>uni16A0.cv04</string>
    <string>uni16A0.cv09</string>
    <string>uni16BC.cv09</string>
    <string>uni16B5.cv10</string>
    <string>uni16BC.cv02</string>
    <string>uni16C1.cv09</string>
    <string>uni16B4.cv09</string>
    <string>uni16B4.cv10</string>
    <string>uni16DA.cv09</string>
    <string>uni16DA.cv02</string>
    <string>uni16DA.cv03</string>
    <string>uni16D8.cv02</string>
    <string>uni16D8.cv03</string>
    <string>uni16D8.cv09</string>
    <string>uni16BE.cv09</string>
    <string>uni16BF.cv02</string>
    <string>uni16E9.cv02</string>
    <string>uni16B1.cv10</string>
    <string>uni16B1.cv09</string>
    <string>uni16B1.cv04</string>
    <string>uni16B1.cv05</string>
    <string>uni16B1.cv06</string>
    <string>uni16B1.cv07</string>
    <string>uni16E6.cv09</string>
    <string>uni16CB.cv09</string>
    <string>uni16CD.cv03</string>
    <string>uni16CD.cv04</string>
    <string>uni16CD.cv05</string>
    <string>uni16CB.cv03</string>
    <string>uni16CF.cv03</string>
    <string>uni16CF.cv09</string>
    <string>uni16A6.cv09</string>
    <string>uni16A6.cv03</string>
    <string>uni16A6.cv04</string>
    <string>uni16A6.cv05</string>
    <string>uni16A2.cv09</string>
    <string>uni16A2.cv06</string>
    <string>uni16A2.cv10</string>
    <string>uni16EA.cv02</string>
    <string>uni16EA.cv03</string>
    <string>uni16EA.cv04</string>
    <string>uni16EA.cv05</string>
    <string>uni16B0.cv02</string>
    <string>uni16B0.cv03</string>
    <string>uni16B0.cv04</string>
    <string>uni16B0.cv05</string>
    <string>uni16ED.cv02</string>
    <string>semicolon</string>
    <string>comma</string>
    <string>uni16DF.cv04</string>
    <string>uni16B2.cv02</string>
    <string>uni16E6.cv02</string>
    <string>uni16EC.cv02</string>
    <string>uni16CD.cv06</string>
    <string>F</string>
    <string>U</string>
    <string>Thorn</string>
    <string>R</string>
    <string>W</string>
    <string>J</string>
    <string>S</string>
    <string>Z</string>
    <string>B</string>
    <string>P</string>
    <string>O</string>
    <string>D</string>
    <string>T</string>
    <string>M</string>
    <string>Eth</string>
    <string>A</string>
    <string>H</string>
    <string>C</string>
    <string>E</string>
    <string>G</string>
    <string>I</string>
    <string>K</string>
    <string>L</string>
    <string>N</string>
    <string>Q</string>
    <string>V</string>
    <string>X</string>
    <string>Y</string>
    <string>uni16D8.cv04</string>
    <string>uni16D0.cv02</string>
    <string>uni16DA.cv04</string>
    <string>uni16A8.cv03</string>
    <string>uni16A6.cv06</string>
    <string>uni16C1.cv03</string>
    <string>xxxx</string>
    <string>uni16A0.cv11</string>
    <string>uni16A2.cv11</string>
    <string>uni16A6.cv11</string>
    <string>uni16AC.cv11</string>
    <string>uni16B1.cv11</string>
    <string>uni16B4.cv11</string>
    <string>uni16BC.cv11</string>
    <string>uni16BE.cv11</string>
    <string>uni16C1.cv11</string>
    <string>uni16C5.cv11</string>
    <string>uni16CB.cv11</string>
    <string>uni16CF.cv11</string>
    <string>uni16D2.cv11</string>
    <string>uni16D8.cv11</string>
    <string>uni16DA.cv11</string>
    <string>uni16E6.cv11</string>
    <string>uni16A2.cv07</string>
    <string>uni16A2.cv08</string>
    <string>uni16C6_uni16A6</string>
    <string>uni16DF.cv05</string>
    <string>k_h_z</string>
    <string>k_z</string>
    <string>k_r</string>
    <string>x_z</string>
    <string>uni16B4.cv14</string>
    <string>uni16B4.cv15</string>
    <string>xxx</string>
    <string>uni16A0.cv12</string>
    <string>uni16A2.cv12</string>
    <string>uni16A6.cv12</string>
    <string>uni16AC.cv12</string>
    <string>uni16B1.cv12</string>
    <string>uni16B4.cv12</string>
    <string>uni16BC.cv12</string>
    <string>uni16BE.cv12</string>
    <string>uni16C1.cv12</string>
    <string>uni16C5.cv12</string>
    <string>uni16CB.cv12</string>
    <string>uni16CF.cv12</string>
    <string>uni16D2.cv12</string>
    <string>uni16D8.cv12</string>
    <string>uni16DA.cv12</string>
    <string>uni16E6.cv12</string>
    <string>uni16A0.cv13</string>
    <string>uni16A2.cv13</string>
    <string>uni16A6.cv13</string>
    <string>uni16AC.cv13</string>
    <string>uni16B1.cv13</string>
    <string>uni16B4.cv13</string>
    <string>uni16BC.cv13</string>
    <string>uni16BE.cv13</string>
    <string>uni16C1.cv13</string>
    <string>uni16C5.cv13</string>
    <string>uni16CB.cv13</string>
    <string>uni16CF.cv13</string>
    <string>uni16D2.cv13</string>
    <string>uni16D8.cv13</string>
    <string>uni16DA.cv13</string>
    <string>uni16E6.cv13</string>
    <string>uni16A0.cv14</string>
    <string>uni16A0.cv15</string>
    <string>uni16A2.cv14</string>
    <string>uni16A2.cv15</string>
    <string>uni16A6.cv14</string>
    <string>uni16AC.cv14</string>
    <string>uni16B1.cv14</string>
    <string>uni16BC.cv14</string>
    <string>uni16BE.cv14</string>
    <string>uni16C1.cv14</string>
    <string>uni16C5.cv14</string>
    <string>uni16CB.cv14</string>
    <string>uni16CF.cv14</string>
    <string>uni16D2.cv14</string>
    <string>uni16D8.cv14</string>
    <string>uni16DA.cv14</string>
    <string>uni16E6.cv14</string>
    <string>uni16A6.cv15</string>
    <string>uni16AC.cv15</string>
    <string>uni16B1.cv15</string>
    <string>uni16BC.cv15</string>
    <string>uni16BE.cv15</string>
    <string>uni16C1.cv15</string>
    <string>uni16C5.cv15</string>
    <string>uni16CB.cv15</string>
    <string>uni16CF.cv15</string>
    <string>uni16D2.cv15</string>
    <string>uni16D8.cv15</string>
    <string>uni16DA.cv15</string>
    <string>uni16E6.cv15</string>
    <string>u_thorn</string>
    <string>xx</string>
    <string>xxxxx</string>
    <string>uni0361</string>
    <string>uni035c</string>
    <string>uni16A0.cv19</string>
    <string>uni16A2.cv19</string>
    <string>uni16A6.cv19</string>
    <string>uni16AC.cv19</string>
    <string>uni16B1.cv19</string>
    <string>uni16B4.cv19</string>
    <string>uni16BC.cv19</string>
    <string>uni16BE.cv19</string>
    <string>uni16C5.cv19</string>
    <string>uni16CF.cv19</string>
    <string>uni16D2.cv19</string>
    <string>uni16D8.cv19</string>
    <string>uni16DA.cv19</string>
    <string>uni16E6.cv19</string>
    <string>hyphen</string>
    <string>uni0361.alt</string>
    <string>equal</string>
    <string>asterisk</string>
    <string>ae</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>seven</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero</string>
    <string>endash</string>
    <string>emdash</string>
    <string>plus</string>
    <string>asciicircum</string>
    <string>asciicircum.cv01</string>
    <string>asciicircum.cv02</string>
    <string>asciicircum.cv03</string>
    <string>asciicircum.cv04</string>
    <string>asciicircum.cv05</string>
    <string>a_z.alt</string>
    <string>six.cv01</string>
    <string>asciicircum.cv06</string>
    <string>asciicircum.cv07</string>
    <string>asciicircum.cv08</string>
    <string>asciicircum.cv09</string>
    <string>asciicircum.cv10</string>
    <string>e_m</string>
    <string>uni16AE.cv01</string>
    <string>oslash</string>
    <string>uni16CB.cv19</string>
    <string>uni16C1.cv19</string>
  </array>
</dict>
</plist>
