<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a_z</key>
  <string>a_z.glif</string>
  <key>a_z.alt</key>
  <string>a_z.alt.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciicircum.cv01</key>
  <string>asciicircum.cv01.glif</string>
  <key>asciicircum.cv02</key>
  <string>asciicircum.cv02.glif</string>
  <key>asciicircum.cv03</key>
  <string>asciicircum.cv03.glif</string>
  <key>asciicircum.cv04</key>
  <string>asciicircum.cv04.glif</string>
  <key>asciicircum.cv05</key>
  <string>asciicircum.cv05.glif</string>
  <key>asciicircum.cv06</key>
  <string>asciicircum.cv06.glif</string>
  <key>asciicircum.cv07</key>
  <string>asciicircum.cv07.glif</string>
  <key>asciicircum.cv08</key>
  <string>asciicircum.cv08.glif</string>
  <key>asciicircum.cv09</key>
  <string>asciicircum.cv09.glif</string>
  <key>asciicircum.cv10</key>
  <string>asciicircum.cv10.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bar.cv02</key>
  <string>bar.cv02.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>colon.cv02</key>
  <string>colon.cv02.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e_m</key>
  <string>e_m.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>ellipsis.cv01</key>
  <string>ellipsis.cv01.glif</string>
  <key>ellipsis.cv02</key>
  <string>ellipsis.cv02.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f_a</key>
  <string>f_a.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k_h_z</key>
  <string>k_h_z.glif</string>
  <key>k_r</key>
  <string>k_r.glif</string>
  <key>k_z</key>
  <string>k_z.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>l_t</key>
  <string>l_t.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.cv02</key>
  <string>period.cv02.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.cv01</key>
  <string>six.cv01.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>space.cv02</key>
  <string>space.cv02.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>t_n</key>
  <string>t_n.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u_thorn</key>
  <string>u_thorn.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni035c</key>
  <string>uni035c.glif</string>
  <key>uni0361</key>
  <string>uni0361.glif</string>
  <key>uni0361.alt</key>
  <string>uni0361.alt.glif</string>
  <key>uni0FD5</key>
  <string>uni0F_D_5.glif</string>
  <key>uni0FD6</key>
  <string>uni0F_D_6.glif</string>
  <key>uni16A0</key>
  <string>uni16A_0.glif</string>
  <key>uni16A0.cv01</key>
  <string>uni16A_0.cv01.glif</string>
  <key>uni16A0.cv02</key>
  <string>uni16A_0.cv02.glif</string>
  <key>uni16A0.cv03</key>
  <string>uni16A_0.cv03.glif</string>
  <key>uni16A0.cv04</key>
  <string>uni16A_0.cv04.glif</string>
  <key>uni16A0.cv09</key>
  <string>uni16A_0.cv09.glif</string>
  <key>uni16A0.cv10</key>
  <string>uni16A_0.cv10.glif</string>
  <key>uni16A0.cv11</key>
  <string>uni16A_0.cv11.glif</string>
  <key>uni16A0.cv12</key>
  <string>uni16A_0.cv12.glif</string>
  <key>uni16A0.cv13</key>
  <string>uni16A_0.cv13.glif</string>
  <key>uni16A0.cv14</key>
  <string>uni16A_0.cv14.glif</string>
  <key>uni16A0.cv15</key>
  <string>uni16A_0.cv15.glif</string>
  <key>uni16A0.cv19</key>
  <string>uni16A_0.cv19.glif</string>
  <key>uni16A1</key>
  <string>uni16A_1.glif</string>
  <key>uni16A1.cv01</key>
  <string>uni16A_1.cv01.glif</string>
  <key>uni16A2</key>
  <string>uni16A_2.glif</string>
  <key>uni16A2.cv01</key>
  <string>uni16A_2.cv01.glif</string>
  <key>uni16A2.cv02</key>
  <string>uni16A_2.cv02.glif</string>
  <key>uni16A2.cv03</key>
  <string>uni16A_2.cv03.glif</string>
  <key>uni16A2.cv04</key>
  <string>uni16A_2.cv04.glif</string>
  <key>uni16A2.cv05</key>
  <string>uni16A_2.cv05.glif</string>
  <key>uni16A2.cv06</key>
  <string>uni16A_2.cv06.glif</string>
  <key>uni16A2.cv07</key>
  <string>uni16A_2.cv07.glif</string>
  <key>uni16A2.cv08</key>
  <string>uni16A_2.cv08.glif</string>
  <key>uni16A2.cv09</key>
  <string>uni16A_2.cv09.glif</string>
  <key>uni16A2.cv10</key>
  <string>uni16A_2.cv10.glif</string>
  <key>uni16A2.cv11</key>
  <string>uni16A_2.cv11.glif</string>
  <key>uni16A2.cv12</key>
  <string>uni16A_2.cv12.glif</string>
  <key>uni16A2.cv13</key>
  <string>uni16A_2.cv13.glif</string>
  <key>uni16A2.cv14</key>
  <string>uni16A_2.cv14.glif</string>
  <key>uni16A2.cv15</key>
  <string>uni16A_2.cv15.glif</string>
  <key>uni16A2.cv19</key>
  <string>uni16A_2.cv19.glif</string>
  <key>uni16A3</key>
  <string>uni16A_3.glif</string>
  <key>uni16A3.cv01</key>
  <string>uni16A_3.cv01.glif</string>
  <key>uni16A3.cv02</key>
  <string>uni16A_3.cv02.glif</string>
  <key>uni16A3.cv03</key>
  <string>uni16A_3.cv03.glif</string>
  <key>uni16A3.cv04</key>
  <string>uni16A_3.cv04.glif</string>
  <key>uni16A3.cv05</key>
  <string>uni16A_3.cv05.glif</string>
  <key>uni16A4</key>
  <string>uni16A_4.glif</string>
  <key>uni16A4.cv01</key>
  <string>uni16A_4.cv01.glif</string>
  <key>uni16A5</key>
  <string>uni16A_5.glif</string>
  <key>uni16A5.cv01</key>
  <string>uni16A_5.cv01.glif</string>
  <key>uni16A6</key>
  <string>uni16A_6.glif</string>
  <key>uni16A6.cv01</key>
  <string>uni16A_6.cv01.glif</string>
  <key>uni16A6.cv02</key>
  <string>uni16A_6.cv02.glif</string>
  <key>uni16A6.cv03</key>
  <string>uni16A_6.cv03.glif</string>
  <key>uni16A6.cv04</key>
  <string>uni16A_6.cv04.glif</string>
  <key>uni16A6.cv05</key>
  <string>uni16A_6.cv05.glif</string>
  <key>uni16A6.cv06</key>
  <string>uni16A_6.cv06.glif</string>
  <key>uni16A6.cv09</key>
  <string>uni16A_6.cv09.glif</string>
  <key>uni16A6.cv11</key>
  <string>uni16A_6.cv11.glif</string>
  <key>uni16A6.cv12</key>
  <string>uni16A_6.cv12.glif</string>
  <key>uni16A6.cv13</key>
  <string>uni16A_6.cv13.glif</string>
  <key>uni16A6.cv14</key>
  <string>uni16A_6.cv14.glif</string>
  <key>uni16A6.cv15</key>
  <string>uni16A_6.cv15.glif</string>
  <key>uni16A6.cv19</key>
  <string>uni16A_6.cv19.glif</string>
  <key>uni16A7</key>
  <string>uni16A_7.glif</string>
  <key>uni16A7.cv01</key>
  <string>uni16A_7.cv01.glif</string>
  <key>uni16A7.cv02</key>
  <string>uni16A_7.cv02.glif</string>
  <key>uni16A7.cv03</key>
  <string>uni16A_7.cv03.glif</string>
  <key>uni16A8</key>
  <string>uni16A_8.glif</string>
  <key>uni16A8.cv02</key>
  <string>uni16A_8.cv02.glif</string>
  <key>uni16A8.cv03</key>
  <string>uni16A_8.cv03.glif</string>
  <key>uni16A9</key>
  <string>uni16A_9.glif</string>
  <key>uni16A9.cv02</key>
  <string>uni16A_9.cv02.glif</string>
  <key>uni16A9.cv03</key>
  <string>uni16A_9.cv03.glif</string>
  <key>uni16AA</key>
  <string>uni16A_A_.glif</string>
  <key>uni16AA.cv02</key>
  <string>uni16A_A_.cv02.glif</string>
  <key>uni16AB</key>
  <string>uni16A_B_.glif</string>
  <key>uni16AC</key>
  <string>uni16A_C_.glif</string>
  <key>uni16AC.cv09</key>
  <string>uni16A_C_.cv09.glif</string>
  <key>uni16AC.cv11</key>
  <string>uni16A_C_.cv11.glif</string>
  <key>uni16AC.cv12</key>
  <string>uni16A_C_.cv12.glif</string>
  <key>uni16AC.cv13</key>
  <string>uni16A_C_.cv13.glif</string>
  <key>uni16AC.cv14</key>
  <string>uni16A_C_.cv14.glif</string>
  <key>uni16AC.cv15</key>
  <string>uni16A_C_.cv15.glif</string>
  <key>uni16AC.cv19</key>
  <string>uni16A_C_.cv19.glif</string>
  <key>uni16AD</key>
  <string>uni16A_D_.glif</string>
  <key>uni16AD.cv02</key>
  <string>uni16A_D_.cv02.glif</string>
  <key>uni16AE</key>
  <string>uni16A_E_.glif</string>
  <key>uni16AE.cv01</key>
  <string>uni16A_E_.cv01.glif</string>
  <key>uni16AF</key>
  <string>uni16A_F_.glif</string>
  <key>uni16B0</key>
  <string>uni16B_0.glif</string>
  <key>uni16B0.cv02</key>
  <string>uni16B_0.cv02.glif</string>
  <key>uni16B0.cv03</key>
  <string>uni16B_0.cv03.glif</string>
  <key>uni16B0.cv04</key>
  <string>uni16B_0.cv04.glif</string>
  <key>uni16B0.cv05</key>
  <string>uni16B_0.cv05.glif</string>
  <key>uni16B1</key>
  <string>uni16B_1.glif</string>
  <key>uni16B1.cv01</key>
  <string>uni16B_1.cv01.glif</string>
  <key>uni16B1.cv02</key>
  <string>uni16B_1.cv02.glif</string>
  <key>uni16B1.cv03</key>
  <string>uni16B_1.cv03.glif</string>
  <key>uni16B1.cv04</key>
  <string>uni16B_1.cv04.glif</string>
  <key>uni16B1.cv05</key>
  <string>uni16B_1.cv05.glif</string>
  <key>uni16B1.cv06</key>
  <string>uni16B_1.cv06.glif</string>
  <key>uni16B1.cv07</key>
  <string>uni16B_1.cv07.glif</string>
  <key>uni16B1.cv09</key>
  <string>uni16B_1.cv09.glif</string>
  <key>uni16B1.cv10</key>
  <string>uni16B_1.cv10.glif</string>
  <key>uni16B1.cv11</key>
  <string>uni16B_1.cv11.glif</string>
  <key>uni16B1.cv12</key>
  <string>uni16B_1.cv12.glif</string>
  <key>uni16B1.cv13</key>
  <string>uni16B_1.cv13.glif</string>
  <key>uni16B1.cv14</key>
  <string>uni16B_1.cv14.glif</string>
  <key>uni16B1.cv15</key>
  <string>uni16B_1.cv15.glif</string>
  <key>uni16B1.cv19</key>
  <string>uni16B_1.cv19.glif</string>
  <key>uni16B2</key>
  <string>uni16B_2.glif</string>
  <key>uni16B2.cv02</key>
  <string>uni16B_2.cv02.glif</string>
  <key>uni16B3</key>
  <string>uni16B_3.glif</string>
  <key>uni16B3.cv01</key>
  <string>uni16B_3.cv01.glif</string>
  <key>uni16B4</key>
  <string>uni16B_4.glif</string>
  <key>uni16B4.cv01</key>
  <string>uni16B_4.cv01.glif</string>
  <key>uni16B4.cv02</key>
  <string>uni16B_4.cv02.glif</string>
  <key>uni16B4.cv03</key>
  <string>uni16B_4.cv03.glif</string>
  <key>uni16B4.cv04</key>
  <string>uni16B_4.cv04.glif</string>
  <key>uni16B4.cv09</key>
  <string>uni16B_4.cv09.glif</string>
  <key>uni16B4.cv10</key>
  <string>uni16B_4.cv10.glif</string>
  <key>uni16B4.cv11</key>
  <string>uni16B_4.cv11.glif</string>
  <key>uni16B4.cv12</key>
  <string>uni16B_4.cv12.glif</string>
  <key>uni16B4.cv13</key>
  <string>uni16B_4.cv13.glif</string>
  <key>uni16B4.cv14</key>
  <string>uni16B_4.cv14.glif</string>
  <key>uni16B4.cv15</key>
  <string>uni16B_4.cv15.glif</string>
  <key>uni16B4.cv19</key>
  <string>uni16B_4.cv19.glif</string>
  <key>uni16B5</key>
  <string>uni16B_5.glif</string>
  <key>uni16B5.cv01</key>
  <string>uni16B_5.cv01.glif</string>
  <key>uni16B5.cv10</key>
  <string>uni16B_5.cv10.glif</string>
  <key>uni16B6</key>
  <string>uni16B_6.glif</string>
  <key>uni16B6.cv01</key>
  <string>uni16B_6.cv01.glif</string>
  <key>uni16B7</key>
  <string>uni16B_7.glif</string>
  <key>uni16B8</key>
  <string>uni16B_8.glif</string>
  <key>uni16B9</key>
  <string>uni16B_9.glif</string>
  <key>uni16B9.cv01</key>
  <string>uni16B_9.cv01.glif</string>
  <key>uni16B9.cv02</key>
  <string>uni16B_9.cv02.glif</string>
  <key>uni16BA</key>
  <string>uni16B_A_.glif</string>
  <key>uni16BA.cv10</key>
  <string>uni16B_A_.cv10.glif</string>
  <key>uni16BB</key>
  <string>uni16B_B_.glif</string>
  <key>uni16BB.cv10</key>
  <string>uni16B_B_.cv10.glif</string>
  <key>uni16BC</key>
  <string>uni16B_C_.glif</string>
  <key>uni16BC.cv02</key>
  <string>uni16B_C_.cv02.glif</string>
  <key>uni16BC.cv09</key>
  <string>uni16B_C_.cv09.glif</string>
  <key>uni16BC.cv11</key>
  <string>uni16B_C_.cv11.glif</string>
  <key>uni16BC.cv12</key>
  <string>uni16B_C_.cv12.glif</string>
  <key>uni16BC.cv13</key>
  <string>uni16B_C_.cv13.glif</string>
  <key>uni16BC.cv14</key>
  <string>uni16B_C_.cv14.glif</string>
  <key>uni16BC.cv15</key>
  <string>uni16B_C_.cv15.glif</string>
  <key>uni16BC.cv19</key>
  <string>uni16B_C_.cv19.glif</string>
  <key>uni16BD</key>
  <string>uni16B_D_.glif</string>
  <key>uni16BE</key>
  <string>uni16B_E_.glif</string>
  <key>uni16BE.cv09</key>
  <string>uni16B_E_.cv09.glif</string>
  <key>uni16BE.cv10</key>
  <string>uni16B_E_.cv10.glif</string>
  <key>uni16BE.cv11</key>
  <string>uni16B_E_.cv11.glif</string>
  <key>uni16BE.cv12</key>
  <string>uni16B_E_.cv12.glif</string>
  <key>uni16BE.cv13</key>
  <string>uni16B_E_.cv13.glif</string>
  <key>uni16BE.cv14</key>
  <string>uni16B_E_.cv14.glif</string>
  <key>uni16BE.cv15</key>
  <string>uni16B_E_.cv15.glif</string>
  <key>uni16BE.cv19</key>
  <string>uni16B_E_.cv19.glif</string>
  <key>uni16BF</key>
  <string>uni16B_F_.glif</string>
  <key>uni16BF.cv02</key>
  <string>uni16B_F_.cv02.glif</string>
  <key>uni16C0</key>
  <string>uni16C_0.glif</string>
  <key>uni16C1</key>
  <string>uni16C_1.glif</string>
  <key>uni16C1.cv03</key>
  <string>uni16C_1.cv03.glif</string>
  <key>uni16C1.cv09</key>
  <string>uni16C_1.cv09.glif</string>
  <key>uni16C1.cv11</key>
  <string>uni16C_1.cv11.glif</string>
  <key>uni16C1.cv12</key>
  <string>uni16C_1.cv12.glif</string>
  <key>uni16C1.cv13</key>
  <string>uni16C_1.cv13.glif</string>
  <key>uni16C1.cv14</key>
  <string>uni16C_1.cv14.glif</string>
  <key>uni16C1.cv15</key>
  <string>uni16C_1.cv15.glif</string>
  <key>uni16C1.cv19</key>
  <string>uni16C_1.cv19.glif</string>
  <key>uni16C2</key>
  <string>uni16C_2.glif</string>
  <key>uni16C3</key>
  <string>uni16C_3.glif</string>
  <key>uni16C3.cv01</key>
  <string>uni16C_3.cv01.glif</string>
  <key>uni16C3.cv02</key>
  <string>uni16C_3.cv02.glif</string>
  <key>uni16C3.cv03</key>
  <string>uni16C_3.cv03.glif</string>
  <key>uni16C3.cv04</key>
  <string>uni16C_3.cv04.glif</string>
  <key>uni16C3.cv05</key>
  <string>uni16C_3.cv05.glif</string>
  <key>uni16C3.cv06</key>
  <string>uni16C_3.cv06.glif</string>
  <key>uni16C3.cv07</key>
  <string>uni16C_3.cv07.glif</string>
  <key>uni16C4</key>
  <string>uni16C_4.glif</string>
  <key>uni16C4.cv01</key>
  <string>uni16C_4.cv01.glif</string>
  <key>uni16C5</key>
  <string>uni16C_5.glif</string>
  <key>uni16C5.cv09</key>
  <string>uni16C_5.cv09.glif</string>
  <key>uni16C5.cv11</key>
  <string>uni16C_5.cv11.glif</string>
  <key>uni16C5.cv12</key>
  <string>uni16C_5.cv12.glif</string>
  <key>uni16C5.cv13</key>
  <string>uni16C_5.cv13.glif</string>
  <key>uni16C5.cv14</key>
  <string>uni16C_5.cv14.glif</string>
  <key>uni16C5.cv15</key>
  <string>uni16C_5.cv15.glif</string>
  <key>uni16C5.cv19</key>
  <string>uni16C_5.cv19.glif</string>
  <key>uni16C6</key>
  <string>uni16C_6.glif</string>
  <key>uni16C6.cv02</key>
  <string>uni16C_6.cv02.glif</string>
  <key>uni16C6.cv03</key>
  <string>uni16C_6.cv03.glif</string>
  <key>uni16C6.cv04</key>
  <string>uni16C_6.cv04.glif</string>
  <key>uni16C6.cv05</key>
  <string>uni16C_6.cv05.glif</string>
  <key>uni16C6_uni16A6</key>
  <string>uni16C_6_uni16A_6.glif</string>
  <key>uni16C7</key>
  <string>uni16C_7.glif</string>
  <key>uni16C7.cv10</key>
  <string>uni16C_7.cv10.glif</string>
  <key>uni16C8</key>
  <string>uni16C_8.glif</string>
  <key>uni16C8.cv02</key>
  <string>uni16C_8.cv02.glif</string>
  <key>uni16C9</key>
  <string>uni16C_9.glif</string>
  <key>uni16C9.cv01</key>
  <string>uni16C_9.cv01.glif</string>
  <key>uni16C9.cv02</key>
  <string>uni16C_9.cv02.glif</string>
  <key>uni16CA</key>
  <string>uni16C_A_.glif</string>
  <key>uni16CA.cv01</key>
  <string>uni16C_A_.cv01.glif</string>
  <key>uni16CA.cv02</key>
  <string>uni16C_A_.cv02.glif</string>
  <key>uni16CA.cv03</key>
  <string>uni16C_A_.cv03.glif</string>
  <key>uni16CA.cv04</key>
  <string>uni16C_A_.cv04.glif</string>
  <key>uni16CA.cv05</key>
  <string>uni16C_A_.cv05.glif</string>
  <key>uni16CA.cv06</key>
  <string>uni16C_A_.cv06.glif</string>
  <key>uni16CA.cv07</key>
  <string>uni16C_A_.cv07.glif</string>
  <key>uni16CA.cv08</key>
  <string>uni16C_A_.cv08.glif</string>
  <key>uni16CA.cv10</key>
  <string>uni16C_A_.cv10.glif</string>
  <key>uni16CB</key>
  <string>uni16C_B_.glif</string>
  <key>uni16CB.cv02</key>
  <string>uni16C_B_.cv02.glif</string>
  <key>uni16CB.cv03</key>
  <string>uni16C_B_.cv03.glif</string>
  <key>uni16CB.cv09</key>
  <string>uni16C_B_.cv09.glif</string>
  <key>uni16CB.cv11</key>
  <string>uni16C_B_.cv11.glif</string>
  <key>uni16CB.cv12</key>
  <string>uni16C_B_.cv12.glif</string>
  <key>uni16CB.cv13</key>
  <string>uni16C_B_.cv13.glif</string>
  <key>uni16CB.cv14</key>
  <string>uni16C_B_.cv14.glif</string>
  <key>uni16CB.cv15</key>
  <string>uni16C_B_.cv15.glif</string>
  <key>uni16CB.cv19</key>
  <string>uni16C_B_.cv19.glif</string>
  <key>uni16CC</key>
  <string>uni16C_C_.glif</string>
  <key>uni16CD</key>
  <string>uni16C_D_.glif</string>
  <key>uni16CD.cv02</key>
  <string>uni16C_D_.cv02.glif</string>
  <key>uni16CD.cv03</key>
  <string>uni16C_D_.cv03.glif</string>
  <key>uni16CD.cv04</key>
  <string>uni16C_D_.cv04.glif</string>
  <key>uni16CD.cv05</key>
  <string>uni16C_D_.cv05.glif</string>
  <key>uni16CD.cv06</key>
  <string>uni16C_D_.cv06.glif</string>
  <key>uni16CE</key>
  <string>uni16C_E_.glif</string>
  <key>uni16CF</key>
  <string>uni16C_F_.glif</string>
  <key>uni16CF.cv01</key>
  <string>uni16C_F_.cv01.glif</string>
  <key>uni16CF.cv02</key>
  <string>uni16C_F_.cv02.glif</string>
  <key>uni16CF.cv03</key>
  <string>uni16C_F_.cv03.glif</string>
  <key>uni16CF.cv09</key>
  <string>uni16C_F_.cv09.glif</string>
  <key>uni16CF.cv11</key>
  <string>uni16C_F_.cv11.glif</string>
  <key>uni16CF.cv12</key>
  <string>uni16C_F_.cv12.glif</string>
  <key>uni16CF.cv13</key>
  <string>uni16C_F_.cv13.glif</string>
  <key>uni16CF.cv14</key>
  <string>uni16C_F_.cv14.glif</string>
  <key>uni16CF.cv15</key>
  <string>uni16C_F_.cv15.glif</string>
  <key>uni16CF.cv19</key>
  <string>uni16C_F_.cv19.glif</string>
  <key>uni16D0</key>
  <string>uni16D_0.glif</string>
  <key>uni16D0.cv02</key>
  <string>uni16D_0.cv02.glif</string>
  <key>uni16D1</key>
  <string>uni16D_1.glif</string>
  <key>uni16D1.cv02</key>
  <string>uni16D_1.cv02.glif</string>
  <key>uni16D1.cv03</key>
  <string>uni16D_1.cv03.glif</string>
  <key>uni16D1.cv04</key>
  <string>uni16D_1.cv04.glif</string>
  <key>uni16D1.cv05</key>
  <string>uni16D_1.cv05.glif</string>
  <key>uni16D2</key>
  <string>uni16D_2.glif</string>
  <key>uni16D2.cv01</key>
  <string>uni16D_2.cv01.glif</string>
  <key>uni16D2.cv02</key>
  <string>uni16D_2.cv02.glif</string>
  <key>uni16D2.cv03</key>
  <string>uni16D_2.cv03.glif</string>
  <key>uni16D2.cv04</key>
  <string>uni16D_2.cv04.glif</string>
  <key>uni16D2.cv05</key>
  <string>uni16D_2.cv05.glif</string>
  <key>uni16D2.cv09</key>
  <string>uni16D_2.cv09.glif</string>
  <key>uni16D2.cv11</key>
  <string>uni16D_2.cv11.glif</string>
  <key>uni16D2.cv12</key>
  <string>uni16D_2.cv12.glif</string>
  <key>uni16D2.cv13</key>
  <string>uni16D_2.cv13.glif</string>
  <key>uni16D2.cv14</key>
  <string>uni16D_2.cv14.glif</string>
  <key>uni16D2.cv15</key>
  <string>uni16D_2.cv15.glif</string>
  <key>uni16D2.cv19</key>
  <string>uni16D_2.cv19.glif</string>
  <key>uni16D3</key>
  <string>uni16D_3.glif</string>
  <key>uni16D4</key>
  <string>uni16D_4.glif</string>
  <key>uni16D4.cv01</key>
  <string>uni16D_4.cv01.glif</string>
  <key>uni16D5</key>
  <string>uni16D_5.glif</string>
  <key>uni16D5.cv01</key>
  <string>uni16D_5.cv01.glif</string>
  <key>uni16D6</key>
  <string>uni16D_6.glif</string>
  <key>uni16D6.cv02</key>
  <string>uni16D_6.cv02.glif</string>
  <key>uni16D7</key>
  <string>uni16D_7.glif</string>
  <key>uni16D7.cv01</key>
  <string>uni16D_7.cv01.glif</string>
  <key>uni16D8</key>
  <string>uni16D_8.glif</string>
  <key>uni16D8.cv01</key>
  <string>uni16D_8.cv01.glif</string>
  <key>uni16D8.cv02</key>
  <string>uni16D_8.cv02.glif</string>
  <key>uni16D8.cv03</key>
  <string>uni16D_8.cv03.glif</string>
  <key>uni16D8.cv04</key>
  <string>uni16D_8.cv04.glif</string>
  <key>uni16D8.cv09</key>
  <string>uni16D_8.cv09.glif</string>
  <key>uni16D8.cv11</key>
  <string>uni16D_8.cv11.glif</string>
  <key>uni16D8.cv12</key>
  <string>uni16D_8.cv12.glif</string>
  <key>uni16D8.cv13</key>
  <string>uni16D_8.cv13.glif</string>
  <key>uni16D8.cv14</key>
  <string>uni16D_8.cv14.glif</string>
  <key>uni16D8.cv15</key>
  <string>uni16D_8.cv15.glif</string>
  <key>uni16D8.cv19</key>
  <string>uni16D_8.cv19.glif</string>
  <key>uni16D9</key>
  <string>uni16D_9.glif</string>
  <key>uni16DA</key>
  <string>uni16D_A_.glif</string>
  <key>uni16DA.cv02</key>
  <string>uni16D_A_.cv02.glif</string>
  <key>uni16DA.cv03</key>
  <string>uni16D_A_.cv03.glif</string>
  <key>uni16DA.cv04</key>
  <string>uni16D_A_.cv04.glif</string>
  <key>uni16DA.cv09</key>
  <string>uni16D_A_.cv09.glif</string>
  <key>uni16DA.cv11</key>
  <string>uni16D_A_.cv11.glif</string>
  <key>uni16DA.cv12</key>
  <string>uni16D_A_.cv12.glif</string>
  <key>uni16DA.cv13</key>
  <string>uni16D_A_.cv13.glif</string>
  <key>uni16DA.cv14</key>
  <string>uni16D_A_.cv14.glif</string>
  <key>uni16DA.cv15</key>
  <string>uni16D_A_.cv15.glif</string>
  <key>uni16DA.cv19</key>
  <string>uni16D_A_.cv19.glif</string>
  <key>uni16DB</key>
  <string>uni16D_B_.glif</string>
  <key>uni16DC</key>
  <string>uni16D_C_.glif</string>
  <key>uni16DC.cv01</key>
  <string>uni16D_C_.cv01.glif</string>
  <key>uni16DC.cv02</key>
  <string>uni16D_C_.cv02.glif</string>
  <key>uni16DC.cv03</key>
  <string>uni16D_C_.cv03.glif</string>
  <key>uni16DC.cv04</key>
  <string>uni16D_C_.cv04.glif</string>
  <key>uni16DC.cv99</key>
  <string>uni16D_C_.cv99.glif</string>
  <key>uni16DD</key>
  <string>uni16D_D_.glif</string>
  <key>uni16DE</key>
  <string>uni16D_E_.glif</string>
  <key>uni16DE.cv01</key>
  <string>uni16D_E_.cv01.glif</string>
  <key>uni16DE.cv02</key>
  <string>uni16D_E_.cv02.glif</string>
  <key>uni16DE.cv03</key>
  <string>uni16D_E_.cv03.glif</string>
  <key>uni16DF</key>
  <string>uni16D_F_.glif</string>
  <key>uni16DF.cv01</key>
  <string>uni16D_F_.cv01.glif</string>
  <key>uni16DF.cv02</key>
  <string>uni16D_F_.cv02.glif</string>
  <key>uni16DF.cv03</key>
  <string>uni16D_F_.cv03.glif</string>
  <key>uni16DF.cv04</key>
  <string>uni16D_F_.cv04.glif</string>
  <key>uni16DF.cv05</key>
  <string>uni16D_F_.cv05.glif</string>
  <key>uni16E0</key>
  <string>uni16E_0.glif</string>
  <key>uni16E0.cv02</key>
  <string>uni16E_0.cv02.glif</string>
  <key>uni16E1</key>
  <string>uni16E_1.glif</string>
  <key>uni16E2</key>
  <string>uni16E_2.glif</string>
  <key>uni16E2.cv02</key>
  <string>uni16E_2.cv02.glif</string>
  <key>uni16E3</key>
  <string>uni16E_3.glif</string>
  <key>uni16E3.cv01</key>
  <string>uni16E_3.cv01.glif</string>
  <key>uni16E4</key>
  <string>uni16E_4.glif</string>
  <key>uni16E5</key>
  <string>uni16E_5.glif</string>
  <key>uni16E5.cv02</key>
  <string>uni16E_5.cv02.glif</string>
  <key>uni16E6</key>
  <string>uni16E_6.glif</string>
  <key>uni16E6.cv01</key>
  <string>uni16E_6.cv01.glif</string>
  <key>uni16E6.cv02</key>
  <string>uni16E_6.cv02.glif</string>
  <key>uni16E6.cv09</key>
  <string>uni16E_6.cv09.glif</string>
  <key>uni16E6.cv11</key>
  <string>uni16E_6.cv11.glif</string>
  <key>uni16E6.cv12</key>
  <string>uni16E_6.cv12.glif</string>
  <key>uni16E6.cv13</key>
  <string>uni16E_6.cv13.glif</string>
  <key>uni16E6.cv14</key>
  <string>uni16E_6.cv14.glif</string>
  <key>uni16E6.cv15</key>
  <string>uni16E_6.cv15.glif</string>
  <key>uni16E6.cv19</key>
  <string>uni16E_6.cv19.glif</string>
  <key>uni16E7</key>
  <string>uni16E_7.glif</string>
  <key>uni16E8</key>
  <string>uni16E_8.glif</string>
  <key>uni16E9</key>
  <string>uni16E_9.glif</string>
  <key>uni16E9.cv01</key>
  <string>uni16E_9.cv01.glif</string>
  <key>uni16E9.cv02</key>
  <string>uni16E_9.cv02.glif</string>
  <key>uni16EA</key>
  <string>uni16E_A_.glif</string>
  <key>uni16EA.cv02</key>
  <string>uni16E_A_.cv02.glif</string>
  <key>uni16EA.cv03</key>
  <string>uni16E_A_.cv03.glif</string>
  <key>uni16EA.cv04</key>
  <string>uni16E_A_.cv04.glif</string>
  <key>uni16EA.cv05</key>
  <string>uni16E_A_.cv05.glif</string>
  <key>uni16EB</key>
  <string>uni16E_B_.glif</string>
  <key>uni16EB.cv02</key>
  <string>uni16E_B_.cv02.glif</string>
  <key>uni16EC</key>
  <string>uni16E_C_.glif</string>
  <key>uni16EC.cv02</key>
  <string>uni16E_C_.cv02.glif</string>
  <key>uni16ED</key>
  <string>uni16E_D_.glif</string>
  <key>uni16ED.cv02</key>
  <string>uni16E_D_.cv02.glif</string>
  <key>uni16EE</key>
  <string>uni16E_E_.glif</string>
  <key>uni16EF</key>
  <string>uni16E_F_.glif</string>
  <key>uni16EF.cv01</key>
  <string>uni16E_F_.cv01.glif</string>
  <key>uni16F0</key>
  <string>uni16F_0.glif</string>
  <key>uni16F0.cv01</key>
  <string>uni16F_0.cv01.glif</string>
  <key>uni16F1</key>
  <string>uni16F_1.glif</string>
  <key>uni16F2</key>
  <string>uni16F_2.glif</string>
  <key>uni16F3</key>
  <string>uni16F_3.glif</string>
  <key>uni16F4</key>
  <string>uni16F_4.glif</string>
  <key>uni16F5</key>
  <string>uni16F_5.glif</string>
  <key>uni16F6</key>
  <string>uni16F_6.glif</string>
  <key>uni16F7</key>
  <string>uni16F_7.glif</string>
  <key>uni16F7.cv01</key>
  <string>uni16F_7.cv01.glif</string>
  <key>uni16F8</key>
  <string>uni16F_8.glif</string>
  <key>uni16F8.cv01</key>
  <string>uni16F_8.cv01.glif</string>
  <key>uni1F528</key>
  <string>uni1F_528.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>x_z</key>
  <string>x_z.glif</string>
  <key>xx</key>
  <string>xx.glif</string>
  <key>xxx</key>
  <string>xxx.glif</string>
  <key>xxxx</key>
  <string>xxxx.glif</string>
  <key>xxxxx</key>
  <string>xxxxx.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
